In [5]:
import pandas as pd
from transformers import pipeline

In [47]:
## 
dat = pd.read_csv("../results/data_cleaned.txt", delimiter = "\t")
dat

                id                                     company_review
0     employee_615  rating: "work harder, not smarter" is the unof...
1    employee_1199                                       rating: 10.0
2     employee_186                                      rating: 10/10
3     employee_640                                      rating: 10/10
4     employee_405                           rating: 10/10, fantastic
..             ...                                                ...
287   employee_603                                  rating: not great
288  employee_1149                                        rating: oof
289   employee_253                                     rating: ripoff
290   employee_623  rating: they didn't understand how much work I...
291   employee_982  rating: you learn a lot in CRO/CMO but pay is ...

[292 rows x 2 columns]

In [48]:
company_revs = dat["company_review"].to_list()

In [51]:
sentiment_classifier = pipeline(
    model="lxyuan/distilbert-base-multilingual-cased-sentiments-student", 
    return_all_scores=True)

Hardware accelerator e.g. GPU is available in the environment, but no `device` argument is passed to the `Pipeline` object. Model will be on CPU.
/Users/vthatikonda/Library/Python/3.9/lib/python/site-packages/transformers/pipelines/text_classification.py:104: UserWarning: `return_all_scores` is now deprecated,  if want a similar functionality use `top_k=None` instead of `return_all_scores=True` or `top_k=1` instead of `return_all_scores=False`.
  warnings.warn(

In [113]:
final_res = []

for index, row in dat.iterrows():

    try:
        i_res = sentiment_classifier(row["company_review"])
        i_pos_score = i_res[0][0]["score"]
        i_neu_score = i_res[0][1]["score"]
        i_neg_score = i_res[0][2]["score"]
        i_final_res = {'id': row["id"], 'positive': i_pos_score, 'nutral': i_neu_score, 'negative': i_neg_score}
        final_res.append(i_final_res)
        
    except Exception as e:
        # Handle the exception (e.g., log it, print a message)
        print(f"Error processing : {e}")

Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).
Error processing : text input must be of type `str` (single example), `List[str]` (batch or single pretokenized example) or `List[List[str]]` (batch of pretokenized examples).

In [116]:
final_res_df = pd.DataFrame(final_res)

In [117]:
final_res_df

                id  positive    nutral  negative
0     employee_615  0.433032  0.209547  0.357421
1    employee_1199  0.748343  0.126519  0.125138
2     employee_186  0.706321  0.135443  0.158236
3     employee_640  0.706321  0.135443  0.158236
4     employee_405  0.953457  0.028333  0.018209
..             ...       ...       ...       ...
274   employee_603  0.014464  0.122107  0.863429
275  employee_1149  0.604250  0.144154  0.251596
276   employee_253  0.527343  0.158380  0.314277
277   employee_623  0.137065  0.199808  0.663126
278   employee_982  0.453142  0.179365  0.367493

[279 rows x 4 columns]

In [119]:
final_res_df.to_csv("../results/06_company_review_sentiments.txt", sep = "\t", index = False)